$maxWidth: 1200px;
$headerTextColor: #666;
$textColor: rgba(0, 0, 0, 0.66);
$textHoverColor: #fe9600;
$footerTextColor: #b9b9b9;
$footerHeight: 120px;
$footerBackground: rgba(255, 255, 255, 0.8);
$friendTextHeight: 36px;
$headerHeight: 70px;
$headerNavHeight: 42px;
$headerBackground: rgba(255, 255, 255);
