.error_container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  .info {
    font-size: 30px;
  }

  .result {
    .result_title {
    }

    .result_items {
      .result_item {
      }
    }
  }
}
